info:
  app:
    name: '@info.app.name@'
    version: '@info.app.version@'
    grailsVersion: '@info.app.grailsVersion@'
server:
  port:
    8884
  compression:
    enabled: on
    min-response-size: 200
    # Define the list of compressible Mime Types
    compressibleMimeTypes:
      - application/json # JSON data
      - application/xml # XML data
      - text/html # HTML content
      - text/xml # XML content
      - text/plain # plain text content
      - image/png # PNG images
      - image/jpeg # JPEG images
      - image/gif # GIF images
grails:
  cors:
    enabled: true
  mime:
    disable:
      accept:
        header:
          userAgents:
          - Gecko
          - WebKit
          - Presto
          - Trident
    types:
      json:
      - application/json
      - text/json
      hal:
      - application/hal+json
      - application/hal+xml
      xml:
      - text/xml
      - application/xml
      atom: application/atom+xml
      css: text/css
      csv: text/csv
      js: text/javascript
      rss: application/rss+xml
      text: text/plain
      all: '*/*'
      form: application/x-www-form-urlencoded
      html:
      - text/html
      - application/xhtml+xml
      multipartForm: multipart/form-data
      pdf: application/pdf
  controllers:
    defaultScope: singleton
  urlmapping:
    cache:
      maxsize: 1000000
  converters:
    encoding: UTF-8
  databinding:
    dateFormats:
      - "yyyy-MM-dd'T'HH:mm:ss.SSSX"
      - "yyyy-MM-dd'T'HH:mm:ss"
      - "yyyy-MM-dd"
  views:
    default:
      codec: html
    gsp:
      encoding: UTF-8
      htmlcodec: xml
      codecs:
        expression: html
        scriptlet: html
        taglib: none
        staticparts: none
  plugin :
    auditLog :
      auditDomainClassName: 'mz.org.fgh.sifmoz.backend.auditTrail.AuditTrail'
      verbose: false
      verboseEvents: [AuditEventType.UPDATE, AuditEventType.INSERT]
      failOnError: true
      excluded: ['version', 'lastUpdated', 'lastUpdatedBy']
      mask: ['password']
      logIds: true
      stampEnabled: true
dataSource:
  url: jdbc:postgresql://localhost:5432/postgres
  driverClassName: org.postgresql.Driver
  username: postgres
  password: postgres
  pooled: true
  jmxExport: true
hibernate:
  cache:
    queries: false
    use_second_level_cache: false
    use_query_cache: false
environments:
  development:
    dataSource:
      dbCreate: update
      url: jdbc:postgresql://localhost:2345/idmed
  test:
    dataSource:
      dbCreate: update
      url: jdbc:postgresql://db:5432/idmed
  production:
    dataSource:
      dbCreate: update
      url: jdbc:postgresql://db:5432/idmed

